@font-face {
  font-family: Gotham;
  src: url('../font/Gotham-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url('../font/Gotham-Book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url('../font/Gotham-Medium.woff') format('woff');
  font-weight: 500;
}

body{
  color:white;
  font-family: Gotham;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row{
  padding:0;
  margin: 0;
}

.weather-widget{
  padding: 0;
}

.weather-outer.ng-hide-add, .weather-outer.ng-hide-remove {
  -webkit-transition:all ease-in-out 0.6s;
  -moz-transition:all ease-in-out 0.6s;
  -o-transition:all ease-in-out 0.6s;
  transition:all ease-in-out 0.6s;
  display:block!important;
}

.weather-outer.ng-hide-add.ng-hide-add-active,
.weather-outer.ng-hide-remove {
  opacity:0;
}

.weather-outer.ng-hide-add,
.weather-outer.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

/*CURRENT*/

.current{
  width:100%;
  height:120px;
  cursor:pointer;
}

.current-left{
  display: inline-block;
  width:50%;
  float: left;
  height:120px;
  padding: 20px 0px 20px 20px;
}
.current-right{
  display: inline-block;
  width:50%;
  text-align: right;
  height:120px;
  padding: 20px 20px 20px 0px;
}

.weather-title{
  font-size: 45px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weather-subtitle{
  font-size: 15px;
  line-height: 20px;
}

.weather-temp{
  display: inline-block;
  float: left;
  font-size: 60px;
  width:70%;
}

.weather-icon{
  display: inline-block;
  line-height: 0px;
  width:30%;
  height: 80px;
  padding-top: 16px;
}

.weather-icon > img{
  width:48px;
}

/*FORECAST*/

.forecast{
  margin: 0 20px;
  border-top: 1px dashed white;
}

.forecast.ng-hide-add, .forecast.ng-hide-remove {
  -webkit-transition:all ease-in-out 0.4s;
  -moz-transition:all ease-in-out 0.4s;
  -o-transition:all ease-in-out 0.4s;
  transition:all ease-in-out 0.4s;
  display:block!important;
}

.forecast.ng-hide-add.ng-hide-add-active,
.forecast.ng-hide-remove {
  max-height: 0;
  opacity: 0;
}

.forecast.ng-hide-add,
.forecast.ng-hide-remove.ng-hide-remove-active {
  max-height: 120px;
  opacity: 1;
}

.forecast-date{
  font-size: 15px;
}

.weather-forecast{
  width:25%;
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.forecast-icon > img{
  width:48px;
}

.forecast-temp-range{
  font-size: 12px;
}

@media(max-width: 480px){
  .forecast-temp-range{
    display: none;
  }
}

/*NEW CITY FORM*/

.new-city{
  height: 78px;
  padding: 20px;
  border: 2px dashed #CCCCCC;
}

/*BACKGROUND COLORS*/

.weather-01d, .weather-02d{
  background: -webkit-linear-gradient(#59D8E5, #19B7E3);
  background: -o-linear-gradient(#59D8E5, #19B7E3);
  background: -moz-linear-gradient(#59D8E5, #19B7E3);
  background: linear-gradient(#59D8E5, #19B7E3);
}

.weather-01n, .weather-02n{
  background: -webkit-linear-gradient(#35203B, #251629);
  background: -o-linear-gradient(#35203B, #251629);
  background: -moz-linear-gradient(#35203B, #251629);
  background: linear-gradient(#35203B, #251629);
}

.weather-03d, .weather-10d{
  background: -webkit-linear-gradient(#1E2E38, #476F78);
  background: -o-linear-gradient(#1E2E38, #476F78);
  background: -moz-linear-gradient(#1E2E38, #476F78);
  background: linear-gradient(#1E2E38, #476F78);
}

.weather-03n, .weather-10n{
  background: -webkit-linear-gradient(#60516B, #262229);
  background: -o-linear-gradient(#60516B, #262229);
  background: -moz-linear-gradient(#60516B, #262229);
  background: linear-gradient(#60516B, #262229);
}

.weather-04d, .weather-09d, .weather-11d, .weather-04n, .weather-09n, .weather-11n{
  background: -webkit-linear-gradient(#3E494A, #262D2E);
  background: -o-linear-gradient(#3E494A, #262D2E);
  background: -moz-linear-gradient(#3E494A, #262D2E);
  background: linear-gradient(#3E494A, #262D2E);
}

.weather-13d, .weather-50d, .weather-13n, .weather-50n{
  background: -webkit-linear-gradient(#8CA6A8, #6C8082);
  background: -o-linear-gradient(#8CA6A8, #6C8082);
  background: -moz-linear-gradient(#8CA6A8, #6C8082);
  background: linear-gradient(#8CA6A8, #6C8082);
}

